{% extends 'admin.html.twig' %}

{% block body %}
    {% trans with {'%name%': user.name } %}
        page_user_edit %name%
    {% endtrans %}
{% endblock %}

{% block title %}
    {% trans with {'%name%': user.name } %}
        user_edit_title %name%
    {% endtrans %}
{% endblock %}
