{% extends 'admin.html.twig' %}

{% block body %}
    <a href="{{ path('admin_user_new') }}" class="btn btn-outline-info" role="button" aria-pressed="true">
        {% trans %}
            button_new
        {% endtrans %}
    </a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                {% trans %}
                    table_id
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_name
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_actions
                {% endtrans %}
            </th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('admin_user_show', {id: user.id}) }}">{{ user.name }}</a></td>
                <td>
                    <a href="{{ path('admin_user_id_edit', {id: user.id}) }}" class="btn btn-outline-success"
                       role="button" aria-pressed="true">
                        {% trans %}
                            button_edit
                        {% endtrans %}
                    </a>
                    <form action="{{ path('admin_user_delete', {id: user.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="submit" class="btn btn-outline-danger" value="
                            {% trans %}
                                button_delete
                            {% endtrans %}
                        "/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    {% trans %}
        user_index_title
    {% endtrans %}
{% endblock %}

