{% extends 'admin.html.twig' %}

{% block body %}
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-text">
                {% trans with {'%id%': user.id, '%name%': user.name} %}
                    page_user_show %id% %name%
                {% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}

{% block title %}
    {% trans with {'%name%': user.name} %}
        user_show_title %name%
    {% endtrans %}
{% endblock %}

