{% extends 'admin.html.twig' %}

{% block body %}
    {% trans with {'%title%': post.title } %}
        page_post_edit %title%
    {% endtrans %}
{% endblock %}

{% block title %}
    {% trans with {'%title%': post.title } %}
        post_edit_title %title%
    {% endtrans %}
{% endblock %}
