{% extends 'admin.html.twig' %}

{% block body %}
    <a href="{{ path('admin_post_new') }}" class="btn btn-outline-info" role="button" aria-pressed="true">
        {% trans %}
            button_new
        {% endtrans %}
    </a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                {% trans %}
                    table_id
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_title
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_description
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_actions
                {% endtrans %}
            </th>
        </tr>
        </thead>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('admin_post_show', {id: post.id}) }}">{{ post.title }}</a></td>
                <td>{{ post.description }}</td>
                <td>
                    <a href="{{ path('admin_post_id_edit', {id: post.id}) }}" class="btn btn-outline-success"
                       role="button" aria-pressed="true">
                        {% trans %}
                            button_edit
                        {% endtrans %}
                    </a>
                    <form action="{{ path('admin_post_delete', {id: post.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" class="btn btn-outline-danger" value="
                            {% trans %}
                                button_delete
                            {% endtrans %}
                        " />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    {% trans %}
        post_index_title
    {% endtrans %}
{% endblock %}
