{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin_post_new') }}" class="btn btn-outline-info" role="button" aria-pressed="true">
        {% trans %}
            button_new
        {% endtrans %}
    </a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                {% trans %}
                    table_id
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_title
                {% endtrans %}
            </th>
            <th scope="col">
                {% trans %}
                    table_description
                {% endtrans %}
            </th>
        </tr>
        </thead>
        {% for post in list %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('admin_post_show', {id: post.id}) }}">{{ post.title }}</a></td>
                <td>{{ post.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
Post List
{% endblock %}

