{% extends 'admin.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.description }}</h5>
            <p class="card-text">{{ post.title }}.</p>
        </div>
    </div>
{% endblock %}

{% block title %}
    {% trans with {'%title%': post.title } %}
        post_show_title %title%
    {% endtrans %}
{% endblock %}
